@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Dana";
  font-weight: 400;
  font-style: normal;
  src: url("./fonts/DanaFaNum-Regular.ttf");
}
@font-face {
  font-family: "Dana";
  font-weight: 500;
  font-style: normal;
  src: url("./fonts/DanaFaNum-Medium.ttf");
}
@font-face {
  font-family: "Dana";
  font-weight: 700;
  font-style: normal;
  src: url("./fonts/DanaFaNum-Bold.ttf");
}

html,
* {
  font-family: "Dana", sans-serif !important;
}
body {
  background-color: #f8f8f8;
}
:root {
  --primary: #1647a9;
  --secondary: #031847;
  --primary-50: #e3f2fe;
  --primary-100: #bbdcfb;
  --primary-200: #90c6fc;
  --primary-300: #63b6dd;
  --primary-400: #1a96d1;
  --primary-500: #2091fc;
  --primary-600: #2080ee;
  --primary-700: #1d77d4;
  --primary-800: #186cc4;
  --primary-900: #1647a9;
  --primary-950: #0a3386;
  --zinc-50: #f6f6f6;
  --zinc-100: #e4e4e5;
  --zinc-200: #c1c1c7;
  --zinc-300: #d4d4d8;
  --zinc-400: #7f7f7a;
  --zinc-500: #71717a;
  --zinc-600: #52525b;
  --zinc-700: #3f3f46;
  --zinc-800: #27272a;
  --zinc-900: #18181b;
  --zinc-950: #09090b;
  --green-50: #e6fff4;
  --green-100: #cdfeec;
  --green-200: #bbf7d0;
  --green-300: #86efac;
  --green-400: #4ade80;
  --green-500: #22c55e;
  --green-600: #16a34a;
  --green-700: #15803d;
  --green-800: #166534;
  --green-900: #14532d;
  --green-950: #052e16;
  --blue-50: #eff6ff;
  --blue-100: #dbeafe;
  --blue-200: #bfdbfe;
  --blue-300: #93c5fd;
  --blue-400: #60a5fa;
  --blue-500: #3b82f6;
  --blue-600: #2563eb;
  --blue-700: #1d4ed8;
  --blue-800: #1e40af;
  --blue-900: #1e3a8a;
  --blue-950: #172654;
  --amber-50: #fffceb;
  --amber-100: #fef3c7;
  --amber-200: #fde68a;
  --amber-300: #fcd34d;
  --amber-400: #fbbf24;
  --amber-500: #f59e0b;
  --amber-600: #d97706;
  --amber-700: #b45309;
  --amber-800: #92400e;
  --amber-900: #78350f;
  --amber-950: #451a03;
  --red-50: #fef2f2;
  --red-100: #fee2e2;
  --red-200: #fecaca;
  --red-300: #fca5a5;
  --red-400: #f87171;
  --red-500: #ef4444;
  --red-600: #dc2626;
  --red-700: #b91c1c;
  --red-800: #991b1b;
  --red-900: #7f1d1d;
  --red-950: #450a0a;
}
.book-glass {
  background-color: #ffffff9e;
  backdrop-filter: blur(5px);
}
.book-glass2 {
  background-color: #ffffff7e;
  backdrop-filter: blur(5px);
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
  border: 0.4px solid #d9d9d97b;
}
.book-glass5 {
  background-color: #ffffff7e;
  backdrop-filter: blur(5px);
}
.book-shadow1 {
  box-shadow: rgba(0, 0, 0, 0.108) 0px 3px 8px;
}
.book-shadow2 {
  box-shadow: rgba(0, 0, 0, 0.294) 0px 3px 8px;
}
.book-shadow6 {
  box-shadow: rgba(0, 0, 0, 0.733) 0px 0px 6px;
}
.book-show-content {
  animation: 0.3s ease-in-out forwards fadeIn;
  -webkit-animation: 0.3s ease-in-out forwards fadeIn;
  padding-bottom: 0.4rem;
}
.book-hidden-elements {
  animation: 0.24s ease-in-out forwards fadeIn;
  -webkit-animation: 0.24s ease-in-out forwards fadeIn;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.3);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.book-categories-show button.book-actived {
  background-color: #16a34a !important;
  font-size: 16px !important;
  border: 1px solid #16a34a !important;
  color: white !important;
}
.book-categories-show button.book-actived span {
  display: flex !important;
}
.book-bus-card::after {
  content: "";
  position: absolute;
  width: 1.5px;
  height: 85%;
  top: 17px;
  right: 72.5%;
  background-color: transparent !important;
  border-left: 1px dashed var(--primary-700);
  transition: all 0.3s ease-in-out;
}
.book-bus-card::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 3%;
  right: -0.2px;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-top: 2px solid var(--primary-700);
  border-bottom: 2px solid var(--primary-700);
  border-right: 2px solid var(--primary-700);
  transition: all 0.3s ease-in-out;
  z-index: 0 !important;
}
.book-bus-card.book-h-\[482px\]::after {
  height: 92%;
}
.book-bus-card {
  filter: drop-shadow(0 0 7px rgba(0, 0, 0, 0.259));
}
.book-bus-card-mobile {
  filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.213))
    drop-shadow(3px 0 0 var(--primary-500));
}
.book-bus-card-mobile::before {
  content: "";
  position: absolute;
  height: 1.5px;
  width: 90%;
  top: 70%;
  right: 5%;
  background-color: transparent !important;
  border-top: 1px dashed var(--primary-700);
  transition: all 0.3s ease-in-out;
  z-index: 20;
}
.book-set-before-after::before {
  content: "";
  width: 7px;
  height: 7px;
  position: absolute;
  top: -3px;
  left: 0;
  background-color: var(--primary-600);
  border-radius: 50%;
}
.book-set-before-after::after {
  content: "";
  width: 7px;
  height: 7px;
  position: absolute;
  top: -3px;
  right: 0;
  background-color: var(--primary-600);
  border-radius: 50%;
}

.book-set-before-after span {
  width: 17px;
  height: 17px;
  position: absolute;
  top: -8px;
  background-color: var(--primary-500);
  border-radius: 50%;
  filter: blur(5px);
  animation: animate-pals 2.4s ease-in-out infinite;
}
.book-set-before-after span:first-child {
  left: -6px;
}
.book-set-before-after span:last-child {
  right: -6px;
}

@keyframes animate-pals {
  0% {
    opacity: 0.1;
  }

  50% {
    opacity: 0.9;
  }

  to {
    opacity: 0.1;
  }
}
.book-seat-by-for-gentlemans {
  background-image: url("./images/seat-men.book-svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.book-seat-available {
  background-image: url("./images/available.book-svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.book-seat-ladies {
  background-image: url("./images/seat-women.book-svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.book-glass3 {
  background-color: #6a6a6a4d;
  backdrop-filter: blur(2px);
}
.book-filtering-box input[type="radio"] {
  display: none;
}
.book-filtering-box input[type="radio"] ~ label {
  position: relative;
  padding-right: 1.39rem !important;
  display: flex;
  gap: 8px;
  align-items: center;
}
.book-filtering-box input[type="radio"] ~ label::before {
  content: "";
  width: 15px;
  height: 15px;
  border: 1.3px solid var(--zinc-500);
  position: absolute;
  right: 0;
  background-color: transparent;
  border-radius: 50%;
}
.book-filtering-box input[type="radio"] ~ label:hover::before {
  border: 4px solid var(--primary-800);
  opacity: 0.6;
}
.book-filtering-box input[type="radio"]:checked ~ label::before {
  border: 4px solid var(--primary-800);
}

.book-filtering-box input[type="checkbox"] {
  display: none;
}

.book-filtering-box input[type="checkbox"] ~ label {
  position: relative;
  padding-right: 1.5rem !important;
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}

.book-filtering-box input[type="checkbox"] ~ label::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 1.3px solid var(--zinc-500);
  border-radius: 4px;
  position: absolute;
  right: 0;
  background-color: white;
}

.book-filtering-box input[type="checkbox"]:checked ~ label::after {
  content: "✔";
  position: absolute;
  right: 2px;
  top: 1.2px;
  font-size: 14px;
  color: white;
  font-weight: bold;
}

.book-filtering-box input[type="checkbox"] ~ label:hover::before {
  border-color: var(--primary-950) !important;
  opacity: 0.6;
  background-color: var(--primary-600);
}
.book-filtering-box input[type="checkbox"]:checked ~ label::before {
  border-color: var(--primary-800);
  background-color: var(--primary-800);
}
@media not all and (min-width: 640px) {
  .book-categories-show button:last-child {
    margin-left: 20px !important;
  }
  .book-categories-show button.actived {
    font-size: 14px !important;
  }
  .book-glass3 {
    background-color: #d3d3d363;
    -webkit-backdrop-filter: blur(6px) !important;
    backdrop-filter: blur(6px) !important;
  }
}
